.homeContainer {
    background-color:#393b3c;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding:0;
    position: relative;
    padding-top: 100px;
}
.searchBox{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
 display: flex;   
}