.boxLanding{
    width: 100vw;
    height: 100vh ;
    position: relative;
    background-image: url('https://images2.alphacoders.com/105/1052293.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow:hidden;
} 
.LandingNavLink{
    background-color: rgba(56, 14, 206, 0);
    justify-content:center;
    margin-top: 115px;
    display: flex;
    width: 640px;
    height: 640px;
    border-radius: 40px;
    transition: 1s all ease;

    
}

.LandingNavLink:hover{

    background-size: cover;
    background-repeat: no-repeat;
    justify-content:center;
    display: flex;
    width: 740px;
    height: 740px;
    transition: 1s all ease;
}